.sideNavContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: #224325;
    box-shadow: 4px 4px 8px 0px #B9B3B3;
    width: 70px;
    height: 338px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.sideNavContainer button {
    background: transparent;
    border: none;
    border-radius: 30px;
    padding: 8px;
}

.sideNavContainer button:hover {
    background: #162918;
    border: none;
}