    .left-side-page {
        height: 520px;
        max-width: 35%;
    }
    
    .light-card {
        background-color: #F0EEEE;
        border-radius: 10px;
        padding: 4px;
        margin-bottom: 20px;
    }