.svgButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border: none;
    position: relative;
}

.svgButton:hover {
    filter: brightness(1.2);
    filter: opacity(0.8);
}

.circle {
    border-radius: 50%;
}

.green {
    background-color: #008D30;
}

.red {
    background-color: #ca43439d;
}

.gray {
    background-color: #D3D3D3;
}

.withShadow {
    box-shadow: 2px 2px 4px 0 #1518163e;
}