.text_box {}

.text_box h1 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
}

.text_box_input {
    outline: none;
    resize: none;
    margin-top: 6px;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-family: arial;
    margin-left: 40px;
    width: 80%;
    height: 90%;
    flex-shrink: 0;
    border: 1px solid #0000001c;
    border-radius: 8px;
    background: #F0EEEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text_box_asText {
    margin-left: 40px;
    margin-top: 6px;
    width: 80%;
    height: 90%;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F0EEEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text_box_asText h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}