.mobile-preview-container {
    width: calc(300px - 24px);
    border-radius: 10px;
    padding: 12px;
    margin-left: 12px;
    height: 100%;
    background: rgb(32, 233, 169);
    background: linear-gradient(180deg, rgba(32, 233, 169, 1) 0%, rgba(22, 117, 87, 1) 100%);
    display: flex;
    flex-direction: column;
}

.mobile-preview-container h1 {
    font-weight: light;
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.preview-bold {
    font-weight: 300;
    color: white;
}

.preview-normal {
    font-size: 16px;
    font-weight: 200;
    color: white;
}

.mobile-preview-container li {
    height: fit-content;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mobile-preview-container h1 {
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mobile-preview-container .form-field h1 {
    color: black;
}

.mobile-preview-container h2 {
    max-width: calc( 90% - 130px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}